<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="jumbotron">
 <h1 class="" style="text-align: center;"> Pivot Table Representation</h1><button class="btn btn-primary">
  <a class="nav-link"  routerLink="/save-pdf" style="color: white;">Save Table To PDF</a></button>
</div><div>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/bar-chart">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/doughnut-chart">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/radar-chart">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pie-chart">Pie Chart</a>
    </li>
  </ul>
  
  
    <router-outlet></router-outlet>
  </div>
  
</div>


